.btn-rounded {
    text-align: center;
    padding: 5px 2em;
    border-radius: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000059;
    opacity: 1;
}

.title {
    font-size: 35px;
    padding: 0 0.75em;
}