<app-navbar></app-navbar>

<div class="content bg-balloons-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="font-avocado text-center text-primary pt-3">
                    <h2 class="font-avocado title">Atenção!</h2>
                </div>
                <div class="font-avocado text-center pt-1 fs-4">
                    <p>Dia 02/07 a IDS Software e Assessoria completa 18 anos e quem ganha o presente é você! Mas atente-se às seguintes descrições</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="content-group">
                    <div class="content-item">
                        <span class="fw-bold text-primary">O que vamos fazer aqui?</span>
                        <p>Considerando a jornada da IDS entre estes 18 anos, elaboramos um questionário com 30 perguntas,abordando os mais variados temas para você testar seus conhecimentos.</p>
                    </div>

                    <div class="content-item">
                        <span class="fw-bold text-primary">Mas atente-se às regras:</span>
                        <p>Apenas uma tentativa estará disponível, então aproveite-a; </p>
                        <p>Há um tempo limite para cada questão, após finalizado sem inserir uma resposta, a mesma será anulada;
                        </p>
                        <p>A pontuação será composta de acordo com o nível de dificuldade da questão;</p>
                        <p>Em casos de empate, serão avaliados os seguintes requisitos:</p>
                        <ol>
                            <li>Quantidade de perguntas respondidas corretamente;</li>
                            <li>Menor média de tempo.</li>
                        </ol>
                    </div>

                    <div class="content-item">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <span class="fw-bold text-primary">Sim, terá premiação aos 3 primeiros colocados!</span>
                                <ul>
                                    <li>1º Lugar: Prêmio 1;</li>
                                    <li>2º Lugar: Prêmio 2;</li>
                                    <li>3º Lugar: Prêmio 3.</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <div class="d-flex justify-content-end pt-2 mt-5">
                                    <button class="btn btn-primary btn-rounded font-avocado" routerLink="/apresentacao">Começar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>