.title {
    font-size: 3rem!important;
}

.list-group-item {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.list-group-item-pd {
    padding: 1ch 1rem;
}

.ranking-second {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.border-right-radius-0 {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
}

.border-left-radius-0 {
    border-top-right-radius: 10px;
    border-top-left-radius: 0;
}

.classificacao {
    margin-top: -8px;
}


/* espaço do cabeçalho do ranking dos vencedores */

li.list-group-item.active.bg-blue-light.box-shadow.border-0 {
    padding: 2.5ch;
}


/* inserir limite para não quebrar o layout */

.txt-ellipses {
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: clip;
}

.pad-2 {
    padding: 1.1ch!important;
}

.pb-10 {
    padding-bottom: 10px;
}

/* grid personalizado */

.row>* {
    padding: 0!important
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
}


/*Medias queries */

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {}