<nav class="navbar navbar-expand-lg navbar-light text-light bg-darkblue p-3">
    <div class="container-fluid">
        <div class="container">
            <span class="navbar-brand text-light text-logo">
                <span class="font-avocado">QUIZ</span>
            <img src="./../../../assets/img/icons/logo.png" class="logo" alt="">
            </span>
        </div>
        <button class="btn btn-disabled text-light font-avocado" *ngIf="displayElement">
             <span class="timer">{{time}}</span><br>
             <span>tempo</span>
         </button>
    </div>
</nav>