<app-navbar></app-navbar>
<div class="container">
    <div class="content">
        <div class="col-md-12">
            <div class="child">
                <div class="content-group  text-center mt-5 pt-5">
                    <div class="content-item">
                        <h1 class="font-avocado text-primary">Parabéns {{nome}}!</h1>
                    </div>
                    <div class="content-item">
                        <p>Você concluiu o questionário.</p>
                        <p>Agora é só aguardar. O resultado será compartilhado em breve pela Live</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>