<app-navbar></app-navbar>
<div class="container">
    <div class="content">
        <div class="col-md-12">
            <div class="child">
                <div class="text-center pt-5">
                    <img class="pb-4" src="./../../../assets/img/icons/logo-2.png" />
                    <h4>"Toda conquista se inicia com a decisão de tentar!"</h4>
                    <h1 class="ef-pulse-grow font-avocado mt-5 text-secondary">{{time}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>