@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: HelloAvocado;
    src: url(../src/assets/fonts/HelloAvocado.ttf);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-balloons-blue {
    height: 100%;
    background-image: url("./assets/img/fundo-azul.png")!important;
}

.bg-balloons-light {
    background-image: url("./assets/img/baloes-background.png")!important;
}

.bg-balloons {
    background-image: url("./assets/img/baloes-coloridos.png")!important;
}

.bg-success {
    background-color: #00D279!important;
}

.bg-warning {
    background-color: #E3C000!important;
}

.bg-danger {
    background-color: #EF0000!important;
}

.bg-green {
    background: #5AC498!important;
    border: none;
}

.bg-blue-light {
    background: #59A4D9!important;
}

.box-shadow {
    box-shadow: -2px 6px 7px 0px #3333;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #969696!important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #303030!important;
}

.bolder {
    font-weight: 500!important;
}

.display-block {
    display: block!important;
}

.text-size-2 {
    font-size: 20px;
}

.font-avocado {
    font-family: HelloAvocado!important;
}

.card-header:first-child {
    border-radius: calc(.25rem - -10px) calc(.25rem - -10px) 0 0!important;
}

.bg-balloons {
    background-image: url("./assets/img/baloes-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-darkblue {
    color: #002A70!important;
}

.w-100 {
    width: 100%!important;
}