<app-navbar></app-navbar>
<div class="bg-balloons-light" style="margin-top: -47px">
    <div class="content">
        <div class="text-center align-top pt-5 mt-5">
            <h3 class="font-avocado title">Conta pra gente!</h3>
        </div>
        <div class="col-md-6 offset-md-3 align-top">

            <form [formGroup]="formulario">
                <mat-radio-group [(ngModel)]="onde" formControlName="tipo" #group aria-label="Select an option">
                    <mat-radio-button value="casa">Em casa</mat-radio-button>
                    <mat-radio-button value="ids">Na IDS</mat-radio-button>
                  </mat-radio-group>

                <div class="form-group">
                    <label for="nome">Qual seu nome completo?</label>
                    <input type="text" id="nome" formControlName="nome" [(ngModel)]="usuario.nome" class="form-control" aria-describedby="nome" placeholder="Seu nome completo...">

                    <ng-container *ngIf="formulario.controls.nome.touched">
                        <span *ngIf="formulario.controls.nome.errors" class="text-danger">
                            Campo obrigatório
                        </span>
                    </ng-container>
                    <br>
                </div>
                <div class="form-group">
                    <label for="email">Seu melhor email</label>
                    <input type="email" id="email" formControlName="email" class="form-control" [(ngModel)]="usuario.email" aria-describedby="email" placeholder="nome.sobrenome@ids.inf.br">

                    <ng-container *ngIf="formulario.controls.email.touched">
                        <span *ngIf="formulario.controls.email.errors?.required" class="text-danger">
                            Campo obrigatório
                        </span>
                        <span *ngIf="formulario.controls.email.errors?.email" class="text-danger">
                            E-mail inválido
                        </span>
                    </ng-container>
                    <span id="email-invalido"></span>
                    <br><br>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block font-avocado w-100" (click)="login()" [disabled]="!formulario.valid">Avançar</button>
            </form>

        </div>
    </div>
</div>