<app-navbar></app-navbar>
<div class="bg-balloons-light" style="margin-top: -47px">
    <div class="content">
        <div class="text-center align-top pt-5 mt-5">
            <h3 class="font-avocado title">Área restrita!</h3>
        </div>
        <div class="col-md-6 offset-md-3 align-top">
            <form>
                <div class="form-group">
                    <label for="user">Usuário</label>
                    <input type="text" id="user" class="form-control" [(ngModel)]="usuario.nome" [ngModelOptions]="{standalone:true}">
                    <br>
                </div>

                <div class="form-group">
                    <label for="pwd">Senha</label>
                    <input type="password" id="pwd" class="form-control" [(ngModel)]="usuario.senha" [ngModelOptions]="{standalone:true}">
                    <span id="senha-inválida"></span>
                    <br><br>
                </div>

                <button type="button" class="btn btn-primary btn-lg btn-block font-avocado w-100" (click)="login()">Avançar</button>
            </form>
        </div>
    </div>
</div>